body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1579519397271-4467ef0b32d3?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=liam-mcgarry-O2u8FjMBP7E-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-reapet: no-reapet;
    background-attachment: fixed;
/*     background-color: #070F2B; */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff6a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    color: #161A30;
}

p {
    color :#161A30
    size
}

input[type="text"] {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #394867;
    background-color: #1a1192d;
    border-radius: 4px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    background-color: #ffffff7b;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #c05934;
}

p {
    font-size: 16px;
    text-align: center;
    color: #ffffff
}

footer { 
    color:#F1F6F9;
    text-align: center;
    
    
}

