body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070F2B;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #F1F6F9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    color: #161A30;
}

p {
    color :#161A30
    size
}

input[type="text"] {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #394867;
    border-radius: 4px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    background-color: #DBE2EF;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #394867;
}

p {
    font-size: 16px;
    text-align: center;
    color: #ffffff
}

footer { 
    color:#F1F6F9;
    text-align: center;
    
    
}

